body {
    font-family: "Calibri";
    /* Adjust to windows zoom level zoom: 250%; */
}

.toc ul {
    counter-reset: item;
    list-style-type: none;
    list-style-position: outside;
}

.toc ul > li {
    counter-increment: item;
}
  
.toc ul > li:before {
    content: counters(item, ".") ". ";
    margin-left: -20px;
    margin-right: 20px;
}
  
.toc ul ul > li:before {
    content: counters(item, ".") ". ";
    margin-left: -35px;
    margin-right: 15px;
}

.toc {
    font-size: 22px;
}

.toc li > a {
    color: black;
    text-decoration: none;
    font-size: 22px;
}